{#{{ kint(products) }}#}
{% block body %}
{#  Form box that sends value to controller that will be used as filter for title#}
  <form name="search" action="{{ path('return_products') }}" method="GET" xmlns="http://www.w3.org/1999/html">
    <label for="findMe">{{ 'Filter by title'|t }}</label>
    <input name="twigValue" type="text" value=""/>
    <label for="searchTag">{{ 'Filter by tag'|t }}</label>
    <select name="selectTag" value="">
            <option value=""></option>
            {% for term in terms %}
            <option value="{{ term.name|t }}">{{ term.name|t }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="{{ 'Submit'|t }}"/>
  </form>
{% endblock %}

</br>

{#Listing all products that are sent #}
<ul id="row">
{#  {{ breakpoint() }}#}
  {% for product in products %}
    <li>{{ product.title|t }} <img src="{{ product.image }}" width="250" heigth="250" /> {{ product.description|t |striptags }}  {{ 'Tags:'|t }}
      {% for tag in product.tags %}
        {{ tag|t }}
      {% endfor %}
     </li>
  {% endfor %}
</ul>

{#Showing page numbers with links if there is more then one page#}
{% if pages.numberOfPages > 1 %}
  {% for number in 1..pages.numberOfPages %}
    <a  href="{{ path('return_products', {'pages' : number }) }}">{{ number}}</a>
  {% endfor %}
{% endif %}
