
{% for book in books %}
  <h3>{{ book.title }}</h3>
  ISBN : {{ book.isbn }} </br>
  Price : {{ book.price }} </br>
  Comments :
  {% for comment in book.comments %}
    </br>
    {{ comment }}
  {% endfor %}
  </br>
{% endfor %}


